---
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import Prose from '@/components/prose.astro'
import Tags from '@/components/Tags.astro'

import type { CollectionEntry } from 'astro:content'

interface Props {
    frontmatter: CollectionEntry<'posts'>['data']
}

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description} publishedDate={frontmatter.date} tags={frontmatter.tags}>
    {
        frontmatter.heroImage ? (
            <Image src={frontmatter.heroImage} alt="" loading="eager" densities={[1, 2]} class="hero-image" />
        ) : null
    }
    <main>
        <h1>{frontmatter.title}</h1>
        <Prose>
            <slot />
        </Prose>
        {frontmatter.tags && <Tags tags={frontmatter.tags} />}

    </main>
</Layout>

<style>
    main {
        margin-block-end: var(--space-2);
    }

    h1 {
        margin-block-end: var(--space-1);
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .hero-image {
        grid-column: overflow;
        inline-size: 100%;
        block-size: auto;
        object-fit: cover;
        object-position: center;
    }
</style>